# Core Django
Django
django-allauth
django-cors-headers
django-filter
django-phonenumber-field
# django-tailwind (removed to debug build error)
djangorestframework
python-dateutil
pytz
tzdata

# Server & Static Management
gunicorn
whitenoise

# Utilities
Pillow
requests
google-auth
google-auth-oauthlib
psycopg2-binary
cryptography
twilio
phonenumbers

# AI - Temporarily disabled for clean build
# opencv-python-headless
# opencv-contrib-python-headless
# mediapipe
# tensorflow-cpu
# numpy
# matplotlib
# pyzbar

# Database and Async
sqlparse
asgiref

# Dependencies
idna
urllib3
certifi
typing_extensions
Pygments
python3-openid
requests-oauthlib
oauthlib
defusedxml
kiwisolver
fonttools
cycler
contourpy
packaging
attrs
aiohttp
aiohappyeyeballs
aiosignal
frozenlist
multidict
yarl
aiohttp-retry
Werkzeug
h5py
absl-py
astunparse
flatbuffers
gast
google-pasta
grpcio
keras
libclang
Markdown
opt_einsum
protobuf
termcolor
wrapt
pyasn1
pyasn1_modules
pycparser
cffi
